@font-face {
   font-family: 'Sansita';
   src: url("assets/fonts/Sansita/Sansita-Bold.ttf");
}

@font-face {
   font-family: 'Sanchez';
   src: url("assets/fonts/Sanchez/Sanchez-Regular.ttf");
}
html{
   padding: 0;
   margin: 0;
   scroll-behavior: smooth;
}

body {
   color: rgb(28, 28, 28);
   background-color: white;
   margin: 0;
   display: flex;
   align-items: center;
   flex-direction: column;
}

a, a:visited{
   color: #1c1c1c;
   font-family: 'Sanchez', serif;
   font-size: 30px;
   text-decoration: none;
}

h1 {
   font-family: 'Sansita', sans-serif;
   font-weight: bold;
   font-size: 60px;
   text-align: center;
}

h2 {
   font-family: 'Sanchez', serif;
   text-align: center;
   color: #86620b;
}

/*Navbar*/

aside{
   z-index: 5;
   position: fixed;
   height: 10vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color:rgba(255, 255, 255, 0);
   transition: all 0.2s;
}

.navbar.open{
   background-color:rgba(255, 255, 255, 1);
}

.navbar.open.underlign{
   box-shadow: 1px 1px 5px black;
}

.navAbout, .navProjects{
   margin-left: 90px;
   opacity: 0;
   display: none;
}

.navNoe{
   margin-left: 50px;
   opacity: 0;
   display: none;
}

.navNoe a img:first-child{
   width: 20px;
   left: 5px;
   position: relative;
   transition: all 0.3s;
}

.navNoe a img:last-child{
   position: relative;
   width: 24px;
   left:-10px;
   transition: all 0.3s;
}

.navNoe a:hover img:first-child{
   left: 0px;
}

.navNoe a:hover img:last-child{
   left: -5px;
}
aside section{
   display: flex;
   margin-right: 50px;
}


.navNoe.open, .navAbout.open, .navProjects.open{
   opacity: 1;
   display: flex;
}


aside a::after{
   display: block;
   content: '';
   height: 2px;
   background-color: #86620b;
}

.navNoe a:after{
   width: 47px;
}

.navNoe a::before{
   width: 47px;
}

aside a::before{
   display: block;
   content: '';
   background-color: white;
   height: 5px;
   transform: translate(0,43px);
   position: relative;
   width: 100%;
   transition: all 0.3s;
}

aside a:hover::before{
   transform: translate(-100%,43px);
}

.navNoe.open.underlign a::before{
   transform: translate(-100%,43px);
}

.navAbout.open.underlign a::before, .navProjects.open.underlign a::before{
   transform: translate(-100%,43px);
}

.menu{
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   transition: all 0.2s;

}

.menu:hover{
   cursor: pointer;
}

.menu img{
   width: 40px;
   margin:5px;
   transition: all 0.3s;
   transform: rotate(0);
}

.menu::before{
   display: block;
   content: '';
   position: absolute;
   width: 45px;
   height: 25px;
}

.menu.open img{
   cursor: pointer;
   position: absolute;
   transition: all 0.3s;
}

.menu.open:hover img:first-child{
   transform: rotate(-45deg);
}

.menu.open:hover img:last-child{
   transform: rotate(-135deg);
}

.menu.open img:first-child{
   transform: rotate(135deg);
}

.menu.open img:last-child{
   transform: rotate(45deg);
}

/*Intro*/
header{
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-bottom: solid 1px black;
   width: 50%;
}

header img {
   width: 80px;
   height: 80px;
}

header p{
   color: rgb(28, 28, 28);
   font-family: 'Sanchez', serif;
   font-size: 20px;
}


header h1{
   color: rgb(28, 28, 28);
   animation-duration: 5s;
   animation-name: slideDown_h1;
   position: relative;
   top: -30px;
}

@keyframes slideDown_h1 {
   0% {
     top: -35%;
     opacity: 0;
     transform: rotateX(-90deg);
  }

  10% {
     opacity: 0;
  }
}

header h2{
   font-size: 30px;
   animation-duration: 4s;
   animation-name: slideDown_h2;
   position: relative;
   top: -8%;
}

@keyframes slideDown_h2 {
   from {
      opacity: 0;
      top: -15%;
   }
}

.buttons {
   animation-duration: 3s;
   animation-name: slideLogo;
   animation-delay: 1s;
   animation-fill-mode: backwards;
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 100%;
}

@keyframes slideLogo {
   0% {
      opacity: 0;
   }

   10% {
      opacity: 0;
   }
}

.github, .cv, .mail, .phone {
   transition: all 0.2s;
   border: 0.3mm solid white;
   border-radius: 50%;
   padding: 6px 7px 0 7px;
   margin:20px 21px 14px 21px;
   background-color: white;
}

.github:hover, .cv:hover, .mail:hover, .phone:hover {
   padding: 20px 21px 14px 21px;
   margin: 6px 7px 0 7px;;
   border: 0.3mm solid rgb(28, 28, 28);
}


.logo .github:active, .logo .cv:active, .logo .phone:active, .logo .mail:active {
   padding: 10px;
   margin: 10px;
}

/*PROJETS*/
#projects {
   flex-direction: column;
   display: flex;
   align-items: center;
   justify-content: center;
   color: rgb(28, 28, 28);
   margin-top: 50px;
}

#projects h1{
   margin: 0;
}

#projects div{
   margin-top: 60px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

#projects h2{
   font-size: 35px;
}

#projects a img{
   width: 80vw;
   transition: all 0.2s;
   border-radius: 5px;
   box-shadow: 1px 1px 10px rgb(18, 18, 18);
}

#projects a img:hover{
   box-shadow: 2px 2px 20px rgb(18, 18, 18);
}

#projects a section{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 110px;
   left: 50%;
   transform: translate(-50%,-130%);
   transition: all 0.5s;
   z-index: -5;
   position: absolute;
}

#projects a section img{
   border-radius: none;
   box-shadow: none;
   width: 35px;
   margin:5px 10px 0 10px;
}

#projects a:hover section {
   transform: translate(-50%,0);
}
/*ABOUT*/

#about{
   margin-top: 200px;
   width: 80vw;
}

#about h1{
   text-align: left;
   width: 70%;
}

#about span{
   color: #86620b;
}

#about p{
   color: rgb(28, 28, 28);
   font-family: 'Sanchez', serif;
   font-size: 23px;
}

#about a{
   color: #86620b;
   font-size: 23px;
}

.contactMe{
   text-align: center;
}

#about img{
   width: 450px;
   border-radius: 10px;
   transition: all 0.3s;
   box-shadow: 1px 1px 10px black;
}

.studies img, .passion img{
   position: relative;
   opacity: 0;
}

.studies.open img, .passion.open img{
   top: 0;
   opacity: 1;
   animation: imgAbout;
   animation-duration: 1s;
   animation-timing-function:ease-in-out;
}

@keyframes imgAbout {
   from{
      top: -10%;
      opacity: 0;
   }
   to{
      top:0;
      opacity: 1;
   }
}

#about img:hover{
   box-shadow: 2px 2px 20px black;
}

#about div{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

#about div article{
   display: flex;
   flex-direction: column;
   padding: 80px;
}

.passion{
   margin-top:70px;
}


footer{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 50px;
   height: 150px;
}

footer img{
   width: 25px;
   padding: 20px 24px 20px 24px;
   border-radius: 50%;
}

footer img:hover{
   animation-name: flecheTop;
   animation-duration: 0.2s;
   border: solid 0.5px rgb(28, 28, 28);
}

@keyframes flecheTop {
   0% {
      padding: 0;
      border: solid 0.5px white;
   }

   100% {
      padding: 20px 24px 20px 24px;
      border: solid 0.5px rgb(28, 28, 28);
   }
}

@media screen and (max-width:1300px) {
   #about {
      margin-top: 100px;
   }
   #about h1 {
      width: 85vw;
   }

   #about div article {
	   padding:0 20px 0 20px;
   }

   .passion{
      margin-top: 30px;
   }

   .contactMe{
      text-align: left;
      padding: 20px;
   }

   #about div {
	     flex-direction: column;
   }

   #about img{
      margin-top: 30px;
   }

   .passion img{
      display: none;
   }
   footer{
      margin-top: 0;
   }
}

@media screen and (max-width:785px) {
   .menu{
      display: none;
   }
}


@media all and (max-device-width:480px) {

   aside {
      height: 50px;
   }
   aside a{
      font-size: 20px;
   }

   aside section{
      margin-right: 30px;
   }
   aside a:before, aside a:after{
      display: none;
   }
   .menu{
      display: none;
   }

   .navNoe, .navAbout, .navProjects{
      margin-left:30px;
   }
   .navNoe a img:first-child {
      width:12px;
   }

   .navNoe a img:last-child {
      width:14px;
      left: -5px;
   }

   .navNoe a:hover img:first-child{
      left: 5px;
   }

   .navNoe a:hover img:last-child{
      left: -5px;
   }

   header{
      width: 90%;
   }
   header h1{
      top:0px;
   }
   header h2{
      width: 100%;
      top: -10px;
   }

   header h2 p{
   }

   .buttons{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;;
      width: 75%;
   }

   header img{
      width: 50px;
      height: 50px;
   }

   .github, .cv, .mail, .phone {
      padding: 17px 16px 8px 16px;
      border: solid 0.3px black;
   }

   .github:hover, .cv:hover, .mail:hover, .phone:hover{
      padding: none;
      border:none;
   }

   #projects a img{
      width: 95vw;
   }

   #projects img:hover{
      box-shadow: none;
   }

   #projects div{
      margin-top: 10px;
   }

   #projects h1{
      font-size: 40px;
   }

   #projects h2{
      font-size: 30px;
   }

   #projects a section{
      transform: translate(-50%,0);
      position: relative;
   }

   #projects a section img{
      width: 15px;
      margin:0px 5px 0 5px;
   }

   #about{
      margin-top: 50px;
      width: 95vw;
   }

   #about h1{
      font-size: 35px;
      width: 100%;
      margin: 0;
      padding: 0;
   }

   #about div{
      display: flex;
      flex-direction: column;
   }

   #about div article{
      padding: 10px;
   }

   .contactMe{
      text-align: left;
      padding: 10px;
   }

   #about p, #about a{
      width: 100%;
   }
   #about p{
      margin-top:10px;
      margin-bottom:10px;
   }
   .studies img{
      opacity: 1;
      position:inherit;
   }

   #about img{
      animation: none;
      width: 300px;
      margin-bottom: 30px;
   }
   .passion{
      margin-top: 0;
   }

   .passion img{
      display: none;
   }

   footer{
      height: auto;
      margin-bottom: 50px;
      margin-top: 50px;
   }


   footer img:hover{
      animation: none;
      border:none;
   }

}
