@media screen and (max-width:1300px) {
  #about {
    margin-top: 100px;
  }

  #about h1 {
    width: 85vw;
  }

  #about div article {
    padding: 0 20px;
  }

  .passion {
    margin-top: 30px;
  }

  .contactMe {
    text-align: left;
    padding: 20px;
  }

  #about div {
    flex-direction: column;
  }

  #about img {
    margin-top: 30px;
  }

  .passion img {
    display: none;
  }

  footer {
    margin-top: 0;
  }
}
@media screen and (max-width:785px) {
  .menu {
    display: none;
  }
}
@media all and (max-device-width:480px) {
  aside {
    height: 50px;
  }

  aside a {
    font-size: 20px;
  }

  aside section {
    margin-right: 30px;
  }

  aside a:after,
  aside a:before {
    display: none;
  }

  .menu {
    display: none;
  }

  .navAbout,
  .navNoe,
  .navProjects {
    margin-left: 30px;
  }

  .navNoe a img:first-child {
    width: 12px;
  }

  .navNoe a img:last-child {
    width: 14px;
    left: -5px;
  }

  .navNoe a:hover img:first-child {
    left: 5px;
  }

  .navNoe a:hover img:last-child {
    left: -5px;
  }

  header {
    margin-top: 50px;
    padding-bottom: 50px;
    width: 90%;
  }

  header h1 {
    top: 0;
  }

  header h2 {
    width: 100%;
    top: -10px;
  }

  header h2 p {}

  .buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 75%;
  }

  header img {
    width: 50px;
    height: 50px;
  }

  button {
    padding: 17px 16px 8px;
    border: solid 0.3px black;
  }

  button:hover {
    padding: none;
    border: none;
  }

  #projects a img {
    width: 95vw;
  }

  #projects img:hover {
    box-shadow: none;
  }

  #projects div {
    margin-top: 10px;
  }

  #projects h1 {
    font-size: 40px;
  }

  #projects h2 {
    font-size: 30px;
  }

  #projects a section {
    transform: translate(-50%,0);
    position: relative;
  }

  #projects a section img {
    width: 15px;
    margin: 0 5px;
  }

  #about {
    margin-top: 50px;
    width: 95vw;
  }

  #about h1 {
    font-size: 35px;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #about div {
    display: flex;
    flex-direction: column;
  }

  #about div article {
    padding: 10px;
  }

  .contactMe {
    text-align: left;
    padding: 10px;
  }

  #about a,
  #about p {
    width: 100%;
  }

  #about p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .studies img {
    opacity: 1;
    position: inherit;
  }

  #about img {
    animation: none;
    width: 300px;
    margin-bottom: 30px;
  }

  .passion {
    margin-top: 0;
  }

  .passion img {
    display: none;
  }

  footer {
    height: auto;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  footer img:hover {
    animation: none;
    border: none;
  }
}
